body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: darkgreen;
  text-align: center;
  align-items: center;
  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
  margin: 19px;
}

li{
  display: inline;
  border: solid green 1px;
  padding: 11px;
  margin-left: 5px;
}

li:hover{
  border: solid white 1px;
  background: grey;
  color: black;
}

button{
  color: green;
  background: rgb(62, 61, 61);
}

a{
  color: green;
  text-decoration: none;
}

input{
  background: rgb(87, 87, 87) ;
}

::placeholder{
  color: green;
}

.app-link:hover{
  color: white;
}

table{
  margin-left: auto;
  margin-right: auto;
}