body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: darkgreen;
  text-align: center;
  align-items: center;
  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

li{
  list-style: none;
  display: block;
  border: solid green 1px;
  background: black;
  padding: 11px;
  width: 85%;
  margin: 0 auto;
}

li:hover{
  border: solid white 1px;
  background: grey;
  color: black;
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0.8rem;
  left: 1;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}


button{
  color: green;
  background: rgb(62, 61, 61);
  border: black solid 1px;
  padding: 5px;
}

a{
  color: green;
  text-decoration: none;
}

select, input, option, textarea {
  background: rgb(12, 11, 11) ;
  color: green;
  width: 145px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 1px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::placeholder{
  color: green;
}

.app-link:hover{
  color: white;
}

table{
  margin-left: auto;
  margin-right: auto;
}

img{
  height: 350px;
  width: 350px;
}
.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #171918;
  color: green;
  border: solid green 1px;
  font-size: 16px;
  padding: 16px 32px;
}

button:hover{
  cursor: pointer;
  color: white; 
  border: white solid 1px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(12, 11, 11)  inset !important;
    -webkit-color: 0 0 0 30px rgb(25, 107, 19)  inset !important;
}