body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: darkgreen;
  text-align: center;
  align-items: center;
  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

ul{
  list-style: none;
  margin: 19px;

}

li{
  display: block;
  border: solid green 1px;
  background: black;
  padding: 11px;
  margin-left: 5px;
}

li:hover{
  border: solid white 1px;
  background: grey;
  color: black;
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}


button{
  color: green;
  background: rgb(62, 61, 61);
}

a{
  color: green;
  text-decoration: none;
}

input{
  background: rgb(12, 11, 11) ;
  color: green;
}

::placeholder{
  color: green;
}

.app-link:hover{
  color: white;
}

table{
  margin-left: auto;
  margin-right: auto;
}



